@import url("https://fonts.google.com/specimen/Public+Sans");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Primary */
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    /* Neutral */
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    /* Body Copy */
    --FontSize: 18px;
    --FontFamily: 'Public Sans', sans-serif;
    /* Weights */
    --W1: 300;
    --W2: 400;
    --W3: 700;
}
body {
    background: var(--LightGrayishBlue);/*nao e */  
    font-family: var(--FontFamily); 
}
.a-header {
    background: var(--White);
    padding: 24px 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.a-header__menu {
    list-style: none;
    display: flex;
    gap: 10px;

}
.a-header__menu li a {
    text-decoration: none;
    color: var(--GrayishBlue);
    font-size: var(--FontSize);
}
.a-header__request a {
    text-decoration: none;
    color: var(--White);
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
}