@import url("https://fonts.google.com/specimen/Public+Sans");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Primary */
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    /* Neutral */
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    /* Body Copy */
    --FontSize: 18px;
    --FontFamily: 'Public Sans', sans-serif;
    /* Weights */
    --W1: 300;
    --W2: 400;
    --W3: 700;
}
body {
    overflow-x: hidden;  
    font-family: var(--FontFamily); 
}
a {
    cursor: pointer;
}
a:focus {
    outline: 0;
}
a:active {
    opacity: 0.5;
}
/************************ Header ***********************/
nav img {
    display: none;
}
.a-header {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: var(--White);
    padding: 24px 167px 24px 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.a-header__menu {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
.a-header__menu li a {
    text-decoration: none;
    color: var(--GrayishBlue);
    font-size: var(--FontSize);
    padding: 15px;
    position: relative;
}
.a-header__menu li a:after {
    content: ' ';
    transition: width .2s ;
    position: absolute;
    left: 16px;
    width: 0px;
    bottom: -11px;
    height: 5px;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan))
}
.a-header__menu li a:hover {
    color: var(--DarkBlue);
}
.a-header__menu li a:hover:after {
    width: calc(100% - 30px);
}
.a-header__request a {
    text-decoration: none;
    color: var(--White);
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
}
/*********** 1st section after header **************/
.b-intro {
    background: var(--VeryLightGray);
    padding: 120px 100px;
    display: flex;
}
.b-intro__text {
    width: 35%;
}
.b-intro__text h1 {
    font-size: 46px;
    font-weight: var(--W2);
    color: var(--DarkBlue);
}
.b-intro__text p {
    line-height: 25px;
    margin-top: 30px;
    color: var(--GrayishBlue);
    font-weight: var(--W2);
    font-size: var(--FontSize);
}
.b-intro__text a {
    margin-top: 30px;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--White);
    font-size: var(--FontSize);
    padding: 16px 34px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
}
.b-intro__back {
    z-index: 0;
    position: relative;
    margin-top: -24%;
    margin-right: -20%;
    width: 80%;
}
.b-intro__back :nth-child(1) {
    width: 120%;
}
.b-intro__back :nth-child(2) {
    position: absolute;
    top: 60px;
    left: 120px;
}
.c-whyUs {
    background: var(--LightGrayishBlue);
    padding: 80px 100px;
    display: flex;
    flex-flow: row wrap;
}
.c-whyUs__phrase {
    width: 59%;
}
.c-whyUs__phrase h1 {
    color: var(--DarkBlue);
    font-weight: var(--W2);
    font-size: 35px;
}
.c-whyUs__phrase p {
    line-height: 25px;
    margin-top: 30px;
    color: var(--GrayishBlue);
    font-weight: var(--W2);
    font-size: var(--FontSize);
}
.c-whyUs__topics {
    margin-top: 60px;
}
.c-whyUs__cardsList {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 25px;
}
.c-whyUs__cardsList li h2 {
    color: var(--DarkBlue);
    font-weight: var(--W2);
    font-size: 25px;
    margin-top: 30px;
}
.c-whyUs__cardsList li p {
    line-height: 25px;
    margin-top: 30px;
    color: var(--GrayishBlue);
    font-weight: var(--W1);
    font-size: var(--FontSize);
}
.d-latestArticles {
    background: var(--VeryLightGray);
    padding: 80px 100px;
}
.d-latestArticles h1 {
    color: var(--DarkBlue);
    font-weight: var(--W2);
    font-size: 35px;
}
.d-latestArticles__list {
    margin-top: 60px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    align-items: stretch;
}
.d-latestArticles__list li {
    background: var(--White);
    padding-bottom: 25px;  
    border-radius: 5px;
}
.d-latestArticles__list li img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.latestArticles-text {
    margin: 25px 0 0 25px;
    padding-right: 25px; 
}
.latestArticles-text small {
    color: var(--GrayishBlue);
}
.latestArticles-text h3 {
    font-size: 22px;
    font-weight: var(--W2);
    margin-top: 15px;
    color: var(--DarkBlue);
}
.latestArticles-text p {
    color: var(--GrayishBlue);
    margin-top: 15px;
    font-weight: var(--W1);
    font-size: 16px;
    line-height: 25px;
}
@media (max-width: 1200px) {
    .a-header {
        padding: 10px 70px;
        gap: 10px;
        justify-content: center;
    }
    .a-header__request  {
        display: none;
    }
    .b-intro {
        padding: 120px 70px;
    }
    .b-intro__text, .c-whyUs__phrase {
        width: 50%;
        text-align: center;
    }
    .b-intro__back {
        margin-top: -15%;
    }
    .b-intro__back :nth-child(2) {
        width: 80%;
        top: 0px;
        left: 100px;
    }
    .b-intro__text a {
        margin: 30px auto;
    } 
    .c-whyUs {
        justify-content: center;
        padding: 80px 50px;
    }
    .c-whyUs__cardsList {
       flex-flow: row wrap;
    }
    .c-whyUs__cardsList li {
        width: 40%;
    }
    .d-latestArticles__list {
        gap: 0;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    .d-latestArticles__list li {
        width: 45%;
        margin-top: 25px;
    }
    .d-latestArticles__list li img {
        height: 40%; /* Ver dps ?*/
    }
    .d-latestArticles__list li p {
        font-size: var(--FontSize);
    } 
}







/*********** Mobile navigation ***************/
@media (max-width: 700px) {
    .a-header { 
        justify-content: space-between;
    }
    .open-img {
        display: inline-block;
    }
    .a-header__menu {
        transform: translateX(-50px);
        transition: transform .1s ease-in-out;
        z-index: 9999;
        background: var(--White);
        border-radius: 5px;
        flex-flow: column wrap;
        align-items: center;
        gap: 0;
        position: absolute;
        left: calc(100% - 94%); top: 95px;
        width: 88%;
        padding: 30px 0;
    }
    .a-header__menu :nth-child(n + 2) {
        margin-top: 25px;
    }
    .a-header__menu li a {
        color: var(--DarkBlue);
        font-size: 20px;
    }
    .close-active {
        display: block;
    }
    .open-inative {
        display: none;
    }
    .close-active ~ .a-header__menu {
        transform: translateX(0);
    }
    .close-animation ~ .a-header__menu {
        transform: translateX(50px);
    }
    .a-header__request a {
        display: none;
    }
    .b-intro {
        padding: 70px 25px;
        flex-direction: column-reverse;
    } 
    .b-intro__text, .c-whyUs__phrase {
        width: 100%;
        text-align: center;
    } 
    .b-intro__back {
        width: 100%;
        margin-top: -70%;
        margin-left: -30%;
    }
    .b-intro__back :nth-child(1) {
        width: 200%;
    }
    .b-intro__back :nth-child(2) {
        width: 100%;
        top: 18%;
        left: 30%;
    }
    .c-whyUs {
        padding: 80px 25px;
    }
    .c-whyUs__cardsList {
        flex-flow: column wrap;
        gap: 0;
    }
    .c-whyUs__cardsList li {
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }
    .d-latestArticles {
        padding: 80px 25px;
        flex-flow: column wrap;
    }
    .d-latestArticles__list li {
        width: 100%;
        height: fit-content;
    }
    .d-latestArticles__list li h3 {
        font-size: 25px;
    }
}